.video {
  text-align: center;
  position: relative;
  overflow: hidden;

  &:after {
    content: 'IV';
    @include decorNumber;
    left: calc(50% + 555px);
    transform: translate(-50%, 0%);
  }
}

.video__link {
  position: relative;
  display: inline-block;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 43, 51, 0.8);
    transition: all 0.5s ease;
  }

  &:hover::before {
    background: rgba(36, 43, 51, 0.75);
  }

  &:hover .video__icon {
    transform: translate(-50%, -50%) scale(1.05);
    filter: saturate(1.5);
  }
}

.video__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease;

  @include mediaTablet {
    width: 80px;
    height: 80px;
  }
}
